.modal.welcome-modal {
  color: #ed044b;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  & .modal-dialog {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: transparent;

    & .modal-content {
      min-width: 50vw;
      min-height: 50vh;
      border-radius: none;
      border: none;
      background-color: transparent;

      & .modal-body {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & .modal-container {
          padding: 0.5rem;
          background-color: rgba(51, 51, 51, 1);
        }
      }
    }

    & .modal-footer {
      border-radius: none;
      border: none;
      background-color: transparent;
    }
  }
}
