.menu {
  background-color: rgba(51, 51, 51, 0.4);
}

.btn.btn-primary.options {
  margin: 0.5rem 0;

  &.btn-svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & svg.ionicon {
    width: 25%;
  }
}
