@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

.footer {
  color: #ed044b;
  align-items: center;
  justify-content: center;
  height: 11%;
  background-color: transparent;

  @include tablet() {
    height: auto;
  }

  .footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    @include tablet() {
      margin: 1rem 0;
    }
  }

  .author,
  .rsschool-logo {
    color: #ed044b;
    text-decoration: none;
    text-transform: uppercase;
  }

  .author:hover,
  .rsschool-logo:hover {
    color: #ed044b;
    transform: scale(1.1);
  }

  .rsschool-logo-svg {
    height: 2rem;
  }

  .st0 {
    fill: #fff;
  }

  .st1 {
    clip-path: url("#SVGID_2_");
  }

  .st2 {
    clip-path: url("#SVGID_4_");
  }

  .st3 {
    clip-path: url("#SVGID_6_");
  }

  .st4 {
    clip-path: url("#SVGID_8_");
  }

  .st5 {
    fill: #fff;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }

  .st6 {
    clip-path: url("#SVGID_8_");
  }

  .st6,
  .st7 {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }

  .st8,
  .st9 {
    clip-path: url("#SVGID_10_");
  }

  .st9 {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
}
