.basic-single {
  background-color: #333;

  & .select__control {
    background-color: #333;
    border-color: #333;

    & .select__value-container,
    & .select__indicators {
      background-color: #333;
    }
  }
}
